<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    
    <style>
    .invoice-box{
        max-width:800px;
        margin:auto;
        padding:30px;
        border:1px solid #eee;
        box-shadow:0 0 10px rgba(0, 0, 0, .15);
        font-size:12pt;
        line-height:24px;
        font-family:'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
        color:#555;
    }
    
    .invoice-box table{
        width:100%;
        line-height:inherit;
        text-align:left;
    }
    
    .invoice-box table td{
        padding:5px;
        vertical-align:top;
    }

    .invoice-box table tr td:nth-child(2){
        text-align:right;
    }
    
    .invoice-box table tr.top table td div.title{
        font-size:36px;
        line-height:5px;
        color:#333;
    }

    .invoice-box table tr.top table td div.subtitle{
        font-size:24px;
        color:#333;
    }
    
    .invoice-box table tr.information table td{
        padding-bottom:40px;
    }
    
    .invoice-box table tr.heading td{
        background:#eee;
        border-bottom:1px solid #ddd;
        font-weight:bold;
    }

    .invoice-box table.items tr td:nth-child(2){
        text-align:center;
    }

    .invoice-box table.items tr td:nth-child(3+n){
        text-align:right;
    }
    
    .invoice-box table tr.details td{
        padding-bottom:20px;
    }
    
    .invoice-box table tr.item td{
        border-bottom:1px solid #eee;
    }
    
    .invoice-box table tr.item.last td{
        border-bottom:none;
    }
    
    .invoice-box table tr.total td{
        border-top:2px solid #eee;
        font-weight:bold;
    }

    .vam {
        vertical-align: middle;
    }
}

    </style>
</head>

<body>
    <div class="invoice-box">
        <table cellpadding="0" cellspacing="0">
            <tr class="top">
                <td colspan="2">
                    <table>
                        <tr>
                            <td>
                                <div class="title">{{.title}}</div><br>
                                <div class="subtitle">{{.subtitle}}</div><br>
                            </td>
                            
                            <td>
                                Invoice # LC-{{.date}}<br>
                                Created: {{.gen_date_created}}<br>
                                Due: {{.gen_date_due}}
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            
            <tr class="information">
                <td colspan="2">
                    <table>
                        <tr>
                            <td>
                            {{.contact_info}}
                            </td>
                            
                            <td>
                            {{.contractor}}
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>

        <table cellpadding="0" cellspacing="0" class="items">

        {{.gen_invoice}}

        </table>

        <br>

        <br>
        <table cellpadding="0" cellspacing="0" class="pay">
            <tr>
                <td>
                    Please pay by bank transfer:<br>
                    <i>
                    {{.bank_info}}
                    </i>
                </td>
            </tr>
        </table>

    </div>
</body>
</html>
